/* Estilos de la twig -> "news-alejandro--teaser.html.twig, para el bloque "homes news block"*/

.block__home_top {
  background: snow;
  gap: 0 .5rem;
}

.container__block__home_top {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}

.news__body_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-column: 1/2;
}

.exclusive__new__body_container {
  display: inline-block;
  width: 100%;
  height: 30px;
  background-color: #d82b36;
  padding: 0.25rem;
  text-align: center;
  line-height: 30px;
}

.exclusive__new__body_container a {
  font-weight: bold;
  font-size: .975rem;
  text-decoration: none;
  font-weight: normal;
  color: white;
}

.title__body__new_container {
  text-align: left;
}

.title__body__new_container a {
  text-decoration: none;
  color: #000;
}

.description__body__new_container {
  padding: 0;
  margin: 0;
  font-size: .8rem;
  font-weight: normal;
  text-align: left;
}

.container__new__image {
  grid-column: 2/3;
}

.container__new__image > div {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.container__new__image > div > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* Estilos de la twig -> "news-alejandro--news-sidebar-top.html.twig, para el bloque "sidebar news block x2"*/

.sidebar__home_top {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  gap: 1rem;
  margin: 1rem;
}

.new__date-hour {
  width: 100px;
  height: 25px;
  background-color: dodgerblue;
  font-weight: bold;
  padding: 0.2rem;
  text-align: center;
  line-height: 20px;
  color: white;
}

.container__body__new__sidebar {
  grid-column: 2/3;
  display: flex;
}

.subtitle__sidebar__home_top {
  font-size: 1rem;
  font-weight: bold;
  line-height: 20px;
  text-align: left;
}

.subtitle__sidebar__home_top a {
  text-decoration: none;
  color: #000;
}

.container__image__sidebar > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.container__image__sidebar div a img {
  border-radius: 10px;

}

/* Estilos de la twig -> "news-alejandro--home-news-view-bottom.html.twig, para el bloque "news home bottom"*/

.container__body__news_view_bottom {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1rem;
  margin: 1rem;
}

.container__text__news_view_bottom {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.type__news_view_bottom {
  text-align: center;
  width: 100px;
  height: 25px;
  background-color: dodgerblue;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.2rem;
  line-height: 20px;
}

.type__news_view_bottom a {
  text-decoration: none;
  color: white;
}

.title__body__news_view_bottom {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 30px;
  display: inline-block;
}

.title__body__news_view_bottom a {
  text-decoration: none;
  color: #000;
}

.description__body__news_view_bottom {
  padding: 0;
  margin: 0;
  font-size: 0.4rem;
  font-weight: normal;
  line-height: 20px;
  display: inline-block;
}

/* Estilos de la twig -> "news-alejandro--resume-home-news-bottom.html.twig, para el bloque "side news block x2"*/

.container_resume_new {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 1rem;
}

.body_text_resume_new {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.container_type_resume_new_date {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.type_new_text_resume_new {
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 20px;
  text-align: justify;
}

.type_new_text_resume_new a {
  text-decoration: none;
  color: dodgerblue;
}

.date-span {
  font-size: 0.8rem;
  line-height: 18px;
  text-align: justify;
}

.subtitle_new_text_resume_new {
  font-size: 1.275rem;
  font-weight: bold;
  line-height: 22px;
  display: inline-block;
  overflow-wrap: break-word;
}

.subtitle_new_text_resume_new a {
  text-decoration: none;
  color: #000;
}

.separator-text {
  width: 100%;
}

/* Estilos de la twig -> "news-alejandro--sidebar-news-x-3.html.twig, para el bloque "side news block x3"*/


.container__sidebar_3_elements {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: .5rem;
  margin: 0.5rem;
}

.box__sidebar_3_elements {
  display: flex;
  border: 1px solid dodgerblue;
  padding: 1rem;
}

.image__content_side_3_elements {
  margin: 0 auto;
}

.subtitle__side_3_elements {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}

.subtitle__side_3_elements a {
  text-decoration: none;
  color: #000;
}

/* Estilos de la twig -> "news-alejandro--full.html.twig*/

.new-alejandro-container-node {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}

.wrap {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.wrap-text {
  position: absolute;
  bottom: -200px;
  left: 60px;
  box-sizing: border-box;
}

.wrap-text__article {
  padding: 0 0 0 17px;
  margin: -6px 0 0 0;
  width: 71%;
  max-width: 400px;
  min-height: 816px;
}

.wrap-text  h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 72px;
  color: #fff;
  overflow-wrap: break-word;
  display: inline;
  padding: 4px 0 9px;
  background: #0072ac;
  box-shadow: 17px 0 0 0 #0072ac,-17px 0 0 0 #0072ac;
}


.content-news-alejandro-node p {
  text-align: justify;
  margin: 0 1.5rem;
  font-size: 1rem;
  font-weight: normal;
  line-height: 27px;
  color: #393939;
  overflow-wrap: break-word;
  display: block;
}

/*
.content-news-alejandro-node p::first-letter {
  font-size: 5rem;
  color: #000;
  text-shadow: black 0.1em 0.1em 0.2em
}
*/
