* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --blue: #0E65A5;
    --gray: #666;
    --red: #d82b36;
    --black: #000000;
    --font-santander: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.main-news {
    width: 100%;
}

.title-page {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 1rem;
    font-size: 3rem;
    font-weight: bolder;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    color: var(--blue);
    border-bottom: 2px solid var(--blue);
}

.section-news {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    gap: 4rem;
}

.layout-content {
    width: 100%;
    overflow: hidden;
}

.layout-main {
    width: 65%;
    margin-left: 4rem;
}

.layout-sidebar-first {
    width: 20%;
}

.layout-sidebar-second {
    margin-top: 4rem;
}

.news-main,
.sidebar-news-1 {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    gap: 2rem;
    width: 100%;
    border-bottom: 2px solid var(--red);
    padding-bottom: 2rem;
    margin-bottom: 0.6rem;
}

.news-main-4 {
    grid-template-columns: 1fr 1fr;
    text-align: center;
    border: 1px solid var(--gray);
    border-width: 1px 0;
    padding: 0;
    height: 310px;
}

.sidebar-news-1 {
    border-bottom: none;
    grid-template-columns: 1.2fr 0.8fr;
    padding-bottom: 1rem;
    margin-bottom: 0;
}

.sidebar-news-2 {
    border-bottom: none;
    grid-template-columns: 0.6fr 1.4fr;
    padding-bottom: 1rem;
}

.container-title-main {
    display: flex;
    padding: 1rem 0;
    gap: 1rem;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: 1px solid #1c1c1c;
}

.news-main-4 .container-title-main {
    border: 0;
    justify-content: center;
}

.news-tags {
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    gap: 0.2rem;
    width: 100%;
    padding: 0.8rem;
    background-color: #0072ac;
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
}

.news-main-4 .news-tags {
    background-color: initial;
    color: var(--gray);
    justify-content: center;
    align-items: center;
    padding: 0;
}

.news-main-4 .news-tags a {
    background-color: #0072ac;
    padding: 3px 5px;
    margin-right: 5px;
}

.news-tags-side {
    padding: 0;
    width: max-content;
    margin-bottom: 0.4rem;
}

.news-tags a {
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
}

.news-title-main {
    font-size: 1.6rem;
    font-weight: bolder;
}

.news-title-main {
    color: var(--black);
}

.container-image {
    width: 100%;
    height: 100%;

    & img {
        width: 80%;
        height: 100%;
        max-width: 550px;
    }
}

.news-main-4 .container-image {
    width: 100%;
    height: 100%;

    & img {
        width: 100%;
        height: 100%;
    }
}

.container-image-side {
    width: 100%;
    height: 100%;

    & img {
        width: 90%;
        height: auto;
        min-width: 80px;
        min-height: 80px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
}

/* sidebar styles */

.news-side-1 {
    border: 1px solid #DDDDDD;
    padding: 0.5rem;
}

.side-title {
    font-size: 1rem;
    color: var(--black);
}

.side-tags {
    display: inline-block;
    padding: 0.1rem 0.5rem;
    margin-bottom: 0.4rem;
}

/* tags  */
.suscriptores {
    font-size: 0.9rem;
    background-color: #27AE60;
    font-style: italic;
    color: #F4FBF7;
    box-shadow: 0.2rem 0.2rem 0.2rem 0.1rem #759D86;
    transform: matrix(1, 0, -0.2, 1, 0, 0);
}

.exclusivo {
    background-color: var(--red);
    display: flex;
    justify-content: space-around;
}

/* sidebar 2 styles */

.news-side-2 {
    margin-top: 2rem;
    border: 1px solid #066290;
    padding: 0.6rem;
}

.news-tags-others {
    background-color: initial;
    color: #0072ac;
    padding: 0.1rem;
    font-size: 0.7rem;
    margin-bottom: 0.2rem;
}

.container-image-side-2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
        min-width: 90px;
        min-height: 80px;
        width: 90%;
        height: 80%;
    }
}

.side-title-2 {
    font-size: 0.9rem;
}

/* news footer */
.news-footer {
    width: 333px;
    padding-top: 10px;
    padding-bottom: 1rem;
    border-bottom: 1px solid #DDD;
}

.footer-top {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

.new-tags-footer {
    width: max-content;
}

.date-footer {
    font-size: 0.8rem;
    color: var(--gray);
}

.footer-title {
    font-size: 1rem;
    line-height: 22px;
    color: var(--black);
}

div#block-esinergiawil-content footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 2rem;
}

.news-title-main:hover,
.footer-title:hover,
.side-title:hover {
    color: var(--gray);
}

/* details news */
/* .layout-content {
    width: 100%;
    margin: 0;
} */

.detail-news {
    margin-bottom: 2rem;
}

.container-image-detail {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;

    & img {
        min-height: 370px;
        object-fit: cover;
        max-width: 780px;
    }
}

.detail-container-title {
    width: 71%;
    min-width: 872px;
    padding: 0 0 0 17px;
    margin: -6px 0 0 0;
    max-height: 400px;
    position: absolute;
    bottom: -27px;
    left: 200px
}

.detail-title {
    font-size: 3rem;
    font-weight: normal;
    line-height: 85px;
    font-family: system-ui;
    font-weight: bolder;
    color: #FFF;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-wrap: break-word;
    display: inline;
    padding: 4px 0 9px;
    background: #0072ac;
    box-shadow: 17px 0 0 0 #0072ac, -17px 0 0 0 #0072ac;
}

.detail-photo {
    padding-left: .2rem;
    font-size: 14px;
    display: inline-block;
    color: var(--gray);
}

.detail-photo span {
    color: #0072ac;
    text-transform: uppercase;
    font-weight: bold;
}

.detail-description {
    width: 100%;
    margin-left: 210px;
    padding: 40px 22px 10px;
    box-sizing: border-box;
    background: #ededed;
}

.detail-description h2 {
    width: 100%;
    font-size: 1.3125rem;
    font-weight: normal;
    line-height: 26px;
    color: #070308;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-wrap: break-word;
    margin-bottom: 0;
}

.detail-image-alt {
    display: inline-block;
    font: 16px "open_sansregular";
    color: #1c1c1c;
    margin-bottom: 10px;
}