* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.main-news {
    width: 100%;
}
.section-news {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    gap: 4rem;
}
.layout-content {
    width: 70%;
    margin-left: 4rem;
}
.layout-sidebar-first {
    width: 15%;
}
.news-main {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    gap: 2rem;
    width: 100%;
    border-bottom: 2px solid #d82b36;
    padding-bottom: 2rem;
}

.container-title-main {
    display: flex;
    padding: 1rem 0;
    gap: 2rem;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: 1px solid #1c1c1c;
}
.news-tags {
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    gap: 0.2rem;
    width: 100%;
    padding: 1rem;
    background-color: #0072ac;
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;

}
.news-tags a{
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
}
.news-title-main {
    font-size: 2rem;
    font-weight: bolder;
}

.container-image {
    width: 100%;
    height: 100%;
    & img {
        width: 80%;
        height: 100%;
        max-width: 550px;
    }
}