#Formulario form {
  background-color: #e5e5f1;
  padding: 26px 32px;
}
#Formulario  .form-item__textfield {
  width: 100%;
}
#Formulario  textarea {
  width: 100%;#Copasst-home .carousel-caption
}

#Formulario  input#edit-actions-submit {
  background-color: #2b2c73;
  margin: auto;
  color: white;
  display: table;
  font-weight: 600;
  font-size: 1.1em;
}

#Formulario  input#edit-actions-submit:hover {
  background-color: #da0921;
}



#Formulario form label {
  font-weight: 800;
}

#Copasst-home .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #779ed1;
}
.carousel-control-prev-icon {
  background-color: #3e569c;
  border-radius: 50%;
  padding: 16px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

ul#pills-tab {
  margin-top: -106px;
}
#Copasst-home .nav-link img {
  display: inline;
}
.noticias h2 {
  font-size: 2.5em;
  font-weight: 700;
  color: #000;
  padding: 5px 0px;
  margin: 0;
} 
.noticias hr {
  width: 70%;
  position: static;
  border: 2px solid #dA0921;
  display: inline-block;
  margin: 20px 0px 20px -50%;
  background: #da0921;
      opacity: 100;
}
.noticias {
  background-image: linear-gradient(90deg, #dadae5 100%, #fff 50%);
}
.noticias .principal {
  background: #dadae5;
  padding-top: 30px;
}
.noticia_principal {
  -webkit-box-shadow: 3px 8px 31px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 8px 31px -12px rgba(0,0,0,0.75);
  box-shadow: 3px 8px 31px -12px rgba(0,0,0,0.75);
  margin: 0;
  padding: 0;
  background: #fff;
}
.noticias .content_principal {
  -webkit-box-shadow: 3px 8px 31px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 8px 31px -12px rgba(0,0,0,0.75);
  box-shadow: 3px 8px 31px -12px rgba(0,0,0,0.75);
  background: #fff;
  margin: 20px 0;
}
.noticias a.news-teaser-link {
  background-color: #fff;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  line-height: 1.2;
  color: #000;
  transition: 0.25s all;
  box-shadow: 0 0 0 transparent;
  align-items: stretch;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.noticias a.news-teaser-link .wrap-info {
  padding: 15px 20px;
}
.noticias .news-image {
  position: relative;
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  padding: 0 !important;
}
.noticias .content_principal .category-news {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 4px 5px;
  color: #fff;
  background-color: #dA0921;
}
.noticias .news-image .wrap-fields-image {
  position: relative;
}
.noticias .secundaria .wrap-info .news-date {
  font-size: 0.7em;
}
.noticias .wrap-info .news-date {
  font-size: 0.8em;
  margin-bottom: 4px;
  font-family: 'Roboto Mono', monospace;
  color: #5b5b5b;
}
.noticias .wrap-info h2 {
  line-height: 1.1;
  font-weight: bold;
  margin: 0 0 15px;
  color: #dA0921;
}
.noticias .content_principal .wrap-info h2 {
  font-size: 1.5em;
}
.secundaria .wrap-info p {
  font-size: 1.0em;
}
.noticias .content_principal a.news-teaser-link .wrap-info {
  padding: 30px 30px;
}
.noticias .secundaria .wrap-info h2 {
  font-size: 1.3em;
  line-height: 26px;
  margin: 5px 0;
}
.noticias .secundaria .news-teaser-link.news_1 .news-image {
  background-image: url(/PortalUrosario/media/UR-V4/Universidad-del-Rosario-V4/Egresados/img/news-teaser-1.jpg);
}
.noticias .secundaria .news-teaser-link.news_2 .news-image {
  background-image: url(/PortalUrosario/media/UR-V4/Universidad-del-Rosario-V4/Egresados/img/news-teaser-2.jpg);
}
.noticias .secundaria .news-teaser-link.news_3 .news-image {
  background-image: url(/PortalUrosario/media/UR-V4/Universidad-del-Rosario-V4/Egresados/img/news-teaser-3.jpg);
}
.noticias .secundaria .news-teaser-link .news-image {
  position: relative;
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
  max-height: 41.6667%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 210px;
}
.noticias .secundaria {
  padding: 30px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: stretch;
}
.noticias .secundaria .wrap-info p {
  margin: 0;
  font-size: 1.1em;
}
.noticias .secundaria .news-teaser-link .wrap-info {
  position: relative;
  width: 100%;
  padding-right: 10px;
  padding-left: 20px;
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}
a.news-teaser-link:hover {
  box-shadow: 1px 3px 16px rgba(0, 0, 0, 0.16);
  position: relative;
}
.noticias .secundaria .news-teaser-link a.news-teaser-link {
  background-color: #fff;
  font-size: 0.9em;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  line-height: 1.2;
  color: #000;
  transition: 0.25s all;
  box-shadow: 0 0 0 transparent;
  align-items: stretch;
}
.noticias .secundaria .news-small {
  border-top: 1px solid #ccc;
  padding: 15px 0;
}
.noticias .secundaria .news-small:first-child {
  border-top: none;
  width: 100%;
}
.news-teaser-link .news-image .category-news {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 4px 5px;
  color: #fff;
  background-color: #dA0921;
  font-size: 0.9em;
}
.bottom-more {
  text-align: right;
  margin: 30px 0;
  font-weight: bold;
}
.bottom-more a {
  color: #282828;
  transition: all 0.35s;
  font-size: 0.9em;
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
}
.content_principal .btn {
  text-transform: uppercase;
  display: inline-block;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  color: #000;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.bottom-more a:hover {
  color: #dA0921;
}
/* NOTICIAS */
.Eventos {
  display: none;
}
.pulse {
    animation-name: pulse;
    -webkit-animation-name: pulse;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
.modal h5 {
  font-size: 2.4em;
  font-weight: 800;
  color: #3e569c;
}
.modal small {
  font-size: 0.5em;
  color: #7a7a7a;
}
.modal-body {
  padding: 6% 6% 0;
}
.modal-body iframe {
  box-shadow: 1px 4px 4px #0000002b;
  padding: 19px;
}
.modal-body h5 {
  font-size: 1.2em;
}
.modal-body a {
  color: #00285b;
  font-weight: 900;
}
#myTabContent .modal .Accidente-trabajo ol li:before {
  content: "";
}
#myTabContent .Procedimiento ul li::before {
  content: "";
  margin-left: -23px;
  display: initial;
}
#myTabContent .Procedimiento span {
  background-color: #3e569c;
  color: #fff;
  padding: 3px 7px;
  font-weight: 800;
  font-size: 0.8em;
}
#Copasst-home .tabs-copasst .modal h3 {
  font-size: 1.4em;
}
.modal-footer button {
  background-color: #3e569c;
  border: 0;
  font-weight: 700;
}
.modal-header {
  border-bottom: 1px solid #dee2e600 !important;
}
.modal-footer {
  border-top: 1px solid #dee2e600;
}
button.close {
  background-color: #00285b;
  color: #fff;
  opacity: 100;
}
button.close:hover {
  color: #fff;
}
#Copasst-home .nav-tabs .nav-link:hover,
.nav-tabs .nav-link {
  background-color: #3e569c;
  color: #fff;
  margin: 0 5px;
  font-weight: 800;
  font-size: 1.2em;
  padding: 21px 32px;
}
#Copasst-home .nav-link {
    background-color: #3e569c;
border-bottom: 3px solid#ffffff;
font-weight: 700;
font-size: 1.2em;
margin: 0 9px;
color: #fff;
border: 0;
}
#Copasst-home .nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  background-color: #6e9ad2 !important;
  border: 0;
}
.carousel-control-prev-icon {
  background-color: #3e569c;
  border-radius: 50%;
  padding: 16px;
}
.carousel-control-next-icon {
  background-color: #3e569c;
  border-radius: 50%;
  padding: 16px;
}
#Copasst-home .carousel-caption {
  right: 33%;
  top: 275px;
  left: 50%;
  width: 37%;
  z-index:0;
}
#Copasst-home .carousel-caption h5 {
  font-weight: 800;
  font-size: 5em;
  text-align: left;
  line-height: 1em;
}
#Copasst-home .carousel-caption p {
  text-align: left;
  font-size: 1.4em;
  line-height: 1.3em;
}
#Copasst-home .container {
  position: relative;
}
#Copasst-home .nav {
  justify-content: center;
}
#Copasst-home .nav-tabs {
  border-bottom: 1px solid #dee2e600;
}
#Copasst-home .tab-pane {
  background-color: #fff;
  margin-top: 14px;
  box-shadow: 1px 6px 6px 2px #0000001f;
  border-radius: 6px;
  border-top: 9px solid#769ed1;
  margin-bottom: 45px;
}
#Copasst-home .tabs-copasst h3 {
  font-size: 2.4em;
  font-weight: 800;
  color: #3e569c;
}
#myTabContent ul {
  list-style: none;
  padding: 12px;
}
#myTabContent li {
  padding-left: 1.3em;
  padding-bottom: 21px;
}
#myTabContent li:before {
  content: "\f14a"; /* FontAwesome Unicode */
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
  color: #769ed1;
}
#myTabContent .espacio {
  padding: 5%;
}
#myTabContent .caja {
  border: 1px solid #3e569c;
  line-height: 1.2em;
}
#myTabContent .caja h4 {
  background-color: #3e569c;
  color: #fff;
  text-align: center;
  padding: 9px;
  font-weight: 700;
  font-size: 1.2em;
}
#myTabContent .caja p:nth-child(3n) {
  background-color: #f7f7f7;
  padding-left: 20px;
  font-weight: 700;
}
#myTabContent .caja p:nth-child(2n) {
  background-color: #ffffff;
  padding-left: 20px;
  font-weight: 700;
}
#myTabContent .Fondo {
  background-color: #769ed1;
  padding: 0;
  -webkit-border-top-left-radius: 11px;
  -webkit-border-bottom-left-radius: 11px;
  -moz-border-radius-topleft: 11px;
  -moz-border-radius-bottomleft: 11px;
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
}
#myTabContent .Fondo img {
  -webkit-border-top-left-radius: 11px;
  -moz-border-radius-topleft: 11px;
  border-top-left-radius: 11px;
}
#myTabContent .tab-inlfex {
  display: flex;
  flex-wrap: wrap;
}
#myTabContent .tab-inlfex > div {
  width: 100%;
  padding: 14px 9px;
  padding: 4px 17px;
}
#myTabContent .tab-inlfex > div:nth-child(1n) {
  background-color: #769ed1;
  padding: 14px 9px;
  color: #fff;
}
#myTabContent .tab-inlfex > div:nth-child(2n) {
  background-color: #edf1f4;
  padding: 14px 9px;
  color: #282865;
}
#myTabContent .tab-inlfex > div i {
  display: inline-block;
  vertical-align: top;
  width: 3%;
  text-align: center;
  padding-top: 6px;
}
#myTabContent .tab-inlfex > div p {
  display: inline-block;
  vertical-align: top;
  width: 90%;
}
#Copasst-home .flex-seguros {
  display: flex;
  flex-wrap: wrap;
}
#Copasst-home .flex-seguros > div {
  width: 31%;
  margin: 5px;
  padding: 10px 16px;
  background-color: #edf1f41c;
  font-weight: bold;
  border-left: 2px solid#769ed1;
  cursor: pointer;
}
#Copasst-home .flex-seguros > div:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
#Copasst-home .flex-seguros > div a {
  color: #494979;
}
#Copasst-home .flex-boletin a {
  background-color: antiquewhite;
  display: block;
  text-align: center;
  background-color: #494979;
  color: #fff;
  font-weight: 700;
  margin-top: 13px;
  text-decoration: none;
}
#Copasst-home .flex-boletin a:hover {
  background-color: #6688b3;
}
#Copasst-home .flex-boletin {
  display: flex;
  flex-wrap: wrap;
}
#Copasst-home .flex-boletin > div {
  width: 20%;
  margin: 0;
  padding: 4px 17px;
}
#myTabContent .flex-boletin > div:nth-child(1n) {
  background-color: #769ed1;
  padding: 14px 9px;
  color: #fff;
}
#myTabContent .flex-boletin > div:nth-child(2n) {
  background-color: #edf1f4;
  padding: 14px 9px;
  color: #282865;
}
#Copasst-home .flex-eventos {
  display: flex;
  flex-wrap: wrap;
}
#Copasst-home .flex-eventos > div {
  width: 31%;
  margin: 10px 0;
  background-color: #769ed1;
  color: #fff;
}
.Interactivo {
  background-image: url(/PortalUrosario/media/UR-V4/Funcionarios/Copasst/img/Copasst_interactivo.png);
  height: 251px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 57px 0px 33px;
}
.Interactivo p {
  color: #fff;
  line-height: 1em;
}
.Interactivo h3 {
  color: #fff;
}
.Interactivo h4 {
  font-size: 2.4em;
  font-weight: 800;
  color: #ffffff;
  margin-top: 17%;
  line-height: 1em;
}
.Interactivo a {
  background-color: #769ed1;
  color: #fff !important;
  padding: 6px 23px;
  font-weight: 900;
  text-decoration: none;
  transition: 1s;
  cursor: pointer;
}
.Interactivo a:hover {
  background-color: #6683a7;
}
.flex-eventos p {
  padding: 22px;
}
.Acciones-Seguras {
  margin-bottom: 45px;
}
.Boletin-Copasst {
  margin-top: 45px;
}
#Copasst-home .flex-eventos > div row:nth-child(2n) {
  background-color: #edf1f4;
  padding: 14px 9px;
  color: #282865;
}
#Copasst-home .flex-eventos > div .row {
  margin: 0;
  line-height: 1.1em;
}
#Copasst-home .flex-eventos > div .row div:nth-child(1n) {
  background-color: #edf1f4;
  padding: 14px 9px;
  color: #282865;
  margin: 0;
}
#Copasst-home .flex-eventos > div .row div:nth-child(2n) {
  background-color: #6683a7;
  padding: 14px 9px;
  color: #ffffff;
  margin: 0;
}
#Copasst-home .flex-eventos > div .row div:nth-child(3) {
  background-color: #282865;
  padding: 0 9px;
  color: #ffffff;
  margin: 0;
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
}
#Copasst-home .flex-eventos > div .row div a {
  color: #fff;
  font-weight: 800;
}
#Copasst-home h5#exampleModalLabel {
  font-size: 1.2em;
  font-weight: 800;
  color: #3e569c;
}
#Copasst-home .modal-header {
  border-bottom: 1px solid #dee2e600;
  background-color: #f4f4f4;
}
#Copasst-home .modal-header small {
  font-size: 0.5em;
  line-height: 1em;
  color: #7a7a7a;
}
#Copasst-home button.btn.btn-secondary {
  margin: auto;
  background-color: #7687b9;
  border: 0;
  font-weight: 500;
}
#Copasst-home .modal-header {
  border-bottom: 1px solid #ffffff;
}
#Copasst-home .modal-footer {
  border-top: 1px solid #dee2e600;
}
/*Form*/
#Copasst-home .btn-datos a {
  background-color: #3e569c;
  border: 4px solid #769ed1;
  font-weight: 800;
  color: #fff !important;
  padding: 8px 11px;
  display: table;
  cursor: pointer;
  transition: 0.5s;
  margin: auto;
  margin-bottom: 31px;
  margin-top: 34px;
}
#Copasst-home .btn-datos a:hover {
  transform: scale(1.1);
  transition: 0.2s;
  background-color: #769ed1;
}
#Copasst-home .btn-modal {
  background-color: #3e569c;
  border: 4px solid #769ed1;
  font-weight: 800;
  color: #fff!important;
  padding: 8px 11px;
  display: table;
  cursor: pointer;
  transition: .5s;
  margin: auto;
  margin-bottom: 31px;
  margin-top: 34px;
position: fixed;
  right: 0;
  z-index: 999;
  top: 23%;
bottom: 0;width: 100%;margin-bottom: 0;
  width:13%;
}
.contacto a {
  font-weight: 800;
  color: #769ed1;
}
#situaciones-actos-inseguros label {
  font-weight: 700;
  color: #00285b;
}
#situaciones-actos-inseguros a {
  font-weight: 700;
  color: #0056c3 !important;
  margin-top: 20px;
}
#situaciones-actos-inseguros span {
  color: #000000 !important;
}
input#p_lt_ctl09_pageplaceholder_p_lt_WebPartZone6_tabsContenidoCopasst_tabsContenidoCopasst_uniView_ctl00_ctl00_widget1_ctl00_viewBiz_AutorizacionUsoDeDatos_list_0 {
  width: 3%;
  display: inline-block;
  vertical-align: top;
}
div#p_lt_ctl09_pageplaceholder_p_lt_WebPartZone6_tabsContenidoCopasst_tabsContenidoCopasst_uniView_ctl00_ctl00_widget1_ctl00_viewBiz_ncpautorizacionusodedatos label {
  width: 90%;
  font-size: 0.8em;
  color: #333333;
}
div#p_lt_ctl09_pageplaceholder_p_lt_WebPartZone6_tabsContenidoCopasst_tabsContenidoCopasst_uniView_ctl00_ctl00_widget1_ctl00_viewBiz_ncpautorizacionusodedatos {
  margin-top: 11px;
}
span#p_lt_ctl09_pageplaceholder_p_lt_WebPartZone6_tabsContenidoCopasst_tabsContenidoCopasst_uniView_ctl00_ctl00_widget1_ctl00_viewBiz_AutorizacionUsoDeDatos_lb {
  margin-top: 17px;
  display: block;
  font-weight: 700;
}
input#p_lt_ctl09_pageplaceholder_p_lt_WebPartZone6_tabsContenidoCopasst_tabsContenidoCopasst_uniView_ctl00_ctl00_widget1_ctl00_viewBiz_btnOK {
  width: 99%;
  margin: 22px 0;
  font-weight: 800;
  font-size: 1.2em;
}
@media (min-width:1789px) and (max-width:2600px) { 
#Copasst-home .slick-track {
  height: 518px;
}
}
@media (min-width:1400px) and (max-width:1789px) { 
#Copasst-home .slick-track {
  height: 518px;
}
}
@media (min-width:768px) and (max-width:1276px) { 
#Copasst-home .carousel-caption {
  top: 109px;
}
}
@media (min-width: 1300px) {
  #Copasst-home .carousel-caption {
   top: 146px;
  }
}
@media (max-width: 1024px) {
  #Copasst-home .flex-eventos > div {
      width: 30%;
  }
  .Interactivo {
      background-size: cover;
  }
  #Copasst-home .carousel-caption {
      right: 33%;
      bottom: 348px;
      left: 45%;
      width: 48%;
  }
}
@media (max-width: 768px) {
  #Copasst-home .container {
      top: -105px;
  }
  .Interactivo {
      background-size: cover;
      background-position-x: -252px;
  }
  #Copasst-home .flex-seguros > div {
      width: 46%;
  }
  #Copasst-home .flex-boletin > div {
      width: 46%;
  }
  #Copasst-home .carousel-caption {
      right: 33%;
      bottom: 58%;
      left: 50%;
      width: 38%;
  }
  #Copasst-home .carousel-caption h5 {
      font-size: 3em;
  }
  #Copasst-home .carousel-caption p {
      font-size: 1em;
  }
  .Interactivo a {
      padding: 6px 6px;
      font-size: 0.8em;
  }
  #myTabContent .caja p:nth-child(2n) {
      padding-left: 10px;
  }
  #myTabContent .caja p:nth-child(3n) {
      padding-left: 10px;
  }
  /* NOTICIAS */
  #egresados .noticias .content_principal a.news-teaser-link .wrap-info {
      padding: 15px 20px;
  }
  #egresados .noticias .secundaria {
      padding: 30px 40px;
  }
  /* NOTICIAS */
  .contenedor-btn{
  width: 100%!important;
}
}
@media (max-width: 680px) {
#Copasst-home .carousel-caption {
  top: 81px;
  right: inherit;
  width: 63%;
  left: 31%;
 }
}
@media (max-width: 600px) {
  #Copasst-home .nav-tabs .nav-link:hover,
  .nav-tabs .nav-link {
      font-size: 1em;
      padding: 8px 16px;
  }
  #Copasst-home .container {
      top: -42px;
  }
  #Copasst-home .nav-tabs .nav-link:hover,
  .nav-tabs .nav-link {
      margin-bottom: 10px;
  }
  #Copasst-home .container {
      padding: 0px 51px;
  }
  #Copasst-home .nav-tabs .nav-link:hover,
  .nav-tabs .nav-link {
      font-weight: 800;
      font-size: 0.8em;
      padding: 9px 7px;
      margin-bottom: 10px;
  }
  #Copasst-home .tabs-copasst h3 {
      font-size: 1.6em;
  }
  #Copasst-home .flex-seguros > div {
      width: 100%;
  }
  #Copasst-home .flex-boletin > div {
      width: 100%;
  }
  #Copasst-home .flex-eventos > div {
      width: 100%;
  }
  .Interactivo {
      background-size: cover;
      background-position-x: -503px;
  }
  .Interactivo {
      height: 257px;
      background-position-x: -503px;
      background-repeat: no-repeat;
      margin: 42px 12px 33px;
      padding: 20px;
  }
  .Interactivo a {
      color: #fff !important;
      padding: 6px 8px;
      font-size: 0.7em;
  }
  #Copasst-home .flex-eventos > div {
      width: 100%;
  }
  #Copasst-home .carousel-caption {
      bottom: 61%;
      left: 267px;
      width: 46%;
  }
  #Copasst-home .carousel-caption p {
      font-size: 0.7em;
  }
  #Copasst-home .carousel-caption h5 {
      font-size: 2em;
  }
  #Copasst-home .flex-eventos > div .row div a {
      margin: auto;
      padding: 16px;
  }
  #Copasst-home .btn-modal {
  top: inherit;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
}
}
@media (max-width: 425px) {
  #Copasst-home .carousel-caption {
      bottom: 65%;
      left: 34%;
      width: 48%;
  }
}
@media (max-width: 375px) {
  #Copasst-home .carousel-caption {
      bottom: 67%;
      left: 25%;
      width: 57%;
  }
}
@media (max-width: 393px) {
  #Copasst-home .carousel-caption {
      bottom: 67%;
      left: 34%;
      width: 57%;
  }
  #Copasst-home .nav-tabs .nav-item {
      width: 50%;
  }
  #Copasst-home .nav-tabs img {
      width: 23%;
  }
  #Copasst-home .container {
      padding: 0px 28px;
  }
  #Copasst-home .nav-tabs .nav-link:hover,
  .nav-tabs .nav-link {
      font-size: 0.7em;
  }
}
@media (max-width: 320px) {
  #Copasst-home .container {
      padding: 0px 33px;
  }
  #Copasst-home .nav-tabs .nav-link:hover,
  .nav-tabs .nav-link {
      padding: 5px 0px;
  }
  #Copasst-home .nav {
      justify-content: center;
      width: 105%;
  }
  #Copasst-home .carousel-caption {
      bottom: 41%;
      left: 34%;
      width: 57%;
  }
}
@media (max-width: 280px) {
  #Copasst-home .nav-tabs .nav-link:hover,
  .nav-tabs .nav-link {
      font-size: 0.5em;
  }
}
@media (max-width: 992px){
  /* NOTICIAS */
  #egresados .noticias {
      background-image: linear-gradient(90deg, #dadae5 100%, #fff 0%);
  }
  #egresados .noticias .content_principal .wrap-info h2 {
      font-size: 1.2em;
      line-height: 25px;
  }
  /* NOTICIAS */
}