.Deportes .card-modal-link--egresados .modal-dialog {
  width: 40%;
  max-width: 40%;
}
.Deportes .text-long {
  width: 100%;
}
.Deportes h4.text-align-center {
  background-color: #f1f1f1;
  padding: 1%;
  margin-bottom: 1%;
}
.Deportes .imgModal hr {
  color: #f1f1f1;
  width: 80%;
  height: 3px;
  margin: auto;
  opacity: 1;
  margin-bottom: 2%;
}