.doble-titulacion-economia-banner-flex-container {
  display: flex;
  flex-wrap: wrap;
}

.doble-titulacion-economia-banner-flex-container>div {
  width: 18%;
  margin: 10px;
}

.doble-titulacion-economia-banner-card-body .doble-titulacion-economia-banner-card-son {
  padding: 0 2px;
  position: relative;
  display: inline-block;
}

.doble-titulacion-economia-banner-card-body .col-md-2 {
  -ms-flex: 0 0 15.666667%;
  flex: 0 0 15.666667%;
  max-width: 15.666667%;
}

.doble-titulacion-economia-banner-card-body .doble-titulacion-economia-banner-card-son-icon {
  display: block;
  text-align: center;
  padding: 20px 0 55px;
  z-index: 1;
  position: relative;
}

.doble-titulacion-economia-banner-card-body .doble-titulacion-economia-banner-card-son:nth-child(2n) .doble-titulacion-economia-banner-card-son-icon {
  padding: 55px 0 20px;
}

.doble-titulacion-economia-banner-card-body .doble-titulacion-economia-banner-card-son-icon:before {
  content: "";
  width: 1px;
  height: 75%;
  background: #000000;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transition: all 0.3s ease 0s;
}

.doble-titulacion-economia-banner-card-body .doble-titulacion-economia-banner-card-son:nth-child(2n) .doble-titulacion-economia-banner-card-son-icon:before {
  bottom: auto;
  top: 0;
}

.doble-titulacion-economia-banner-card-body .doble-titulacion-economia-banner-card-son:hover .doble-titulacion-economia-banner-card-son-icon:before {
  background: #555;
}

.doble-titulacion-economia-banner-card-body .doble-titulacion-economia-banner-card-son-icon i {
  width: 53px;
  height: 54px;
  line-height: 45px;
  border-radius: 50%;
  background: #f9e605;
  font-size: 15px;
  color: #201754;
  line-height: 13px;
  font-family: "nunito" !important;
  padding-top: 15px;
  /*! transition: all 0.3s ease 0s; */
}

.doble-titulacion-economia-banner-card-body .doble-titulacion-economia-banner-card-son:hover .doble-titulacion-economia-banner-card-son-icon i {
  background: #2c2e77;
  animation: icon-load 2.5s ease 0s infinite;
  color: #fff;
}

.doble-titulacion-economia-banner-card-body .doble-titulacion-economia-banner-card-son-border {
  height: 15px;
  background: #201754;
  margin-bottom: 0;
  transition: all 0.3s ease 0s;
}

.doble-titulacion-economia-banner-card-body .doble-titulacion-economia-banner-card-son:hover .doble-titulacion-economia-banner-card-son-border {
  background: #0f045a;
}

.doble-titulacion-economia-banner-card-body .doble-titulacion-economia-banner-card-son:first-child .doble-titulacion-economia-banner-card-son-border {
  border-radius: 4px 0 0 4px;
}

.doble-titulacion-economia-banner-card-body .doble-titulacion-economia-banner-card-son:last-child .doble-titulacion-economia-banner-card-son-border {
  border-radius: 0 4px 4px 0;
}

.doble-titulacion-economia-banner-card-body .doble-titulacion-economia-banner-card-son:nth-child(2n) .doble-titulacion-economia-banner-card-son-border {
  margin: 0px 0 0;
}

.doble-titulacion-economia-banner-card-body .doble-titulacion-economia-banner-card-son-content {
  padding: 15px;
  border: 1px solid #ddd;
  font-weight: 700;
  background: #f9f9f9;
  border-radius: 3px;
  transition: all 0.3s ease 0s;
}

.doble-titulacion-economia-banner-card-body .doble-titulacion-economia-banner-card-son:hover .doble-titulacion-economia-banner-card-son-content {
  background: #201754;
}

.doble-titulacion-economia-banner-card-body .doble-titulacion-economia-banner-card-son-title {
  font-size: 18px;
  font-weight: 700;
  color: #39ae99;
  text-transform: uppercase;
  margin: 0 0 10px;
  transition: all 0.3s ease 0s;
}

.doble-titulacion-economia-banner-card-body .doble-titulacion-economia-banner-card-son:hover .doble-titulacion-economia-banner-card-son-title {
  color: #fff;
}

.doble-titulacion-economia-banner-card-body .doble-titulacion-economia-banner-card-son-content .doble-titulacion-economia-banner-card-son-description {
  font-size: 14px;
  color: #3a3a3a;
  margin: 0;
  transition: all 0.3s ease 0s;
}

.doble-titulacion-economia-banner-card-body .doble-titulacion-economia-banner-card-son:hover .doble-titulacion-economia-banner-card-son-description {
  color: #fff;
}

.doble-titulacion-economia-banner-card-son-content a {
  background-color: #0f045a;
  color: #fff;
  padding: 4px 9px;
  margin-top: 19px;
  display: inline-table;
  font-size: 0.8em;
  transition: .5s;
  width: 100%;
  text-align: center;
  border: 1px solid#ffff;
}

.doble-titulacion-economia-banner-card-son-content a:hover {
  background-color: #da0921;
  border: 1px solid#fff;
}

@keyframes icon-load {
  0% {
      transform: rotate(-12deg);
  }

  8% {
      transform: rotate(12deg);
  }

  10%,
  28%,
  30%,
  48%,
  50%,
  68% {
      transform: rotate(24deg);
  }

  18%,
  20%,
  38%,
  40%,
  58%,
  60% {
      transform: rotate(-24deg);
  }

  100%,
  75% {
      transform: rotate(0);
  }
}

@media only screen and (max-width: 990px) {
  .doble-titulacion-economia-banner-card-body .doble-titulacion-economia-banner-card-son {
      margin-bottom: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .doble-titulacion-economia-banner-card-body .doble-titulacion-economia-banner-card-son-icon {
      padding-top: 0;
  }

  .doble-titulacion-economia-banner-card-body .doble-titulacion-economia-banner-card-son:nth-child(2n) .doble-titulacion-economia-banner-card-son-icon {
      padding-bottom: 0;
  }

  .doble-titulacion-economia-banner-card-body .doble-titulacion-economia-banner-card-son-border {
      margin-bottom: 10px;
  }

  .doble-titulacion-economia-banner-card-body .doble-titulacion-economia-banner-card-son:nth-child(2n) .doble-titulacion-economia-banner-card-son-border {
      margin: 0px 0 0;
  }

  .doble-titulacion-economia-banner-card-body .doble-titulacion-economia-banner-card-son-content {
      text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .doble-titulacion-economia-banner-card-body .doble-titulacion-economia-banner-card-son {
      width: 100%;
  }
}