body {
  /*background-color: rebeccapurple;*/
  font-family: Arial, Helvetica, sans-serif;
}

.flex-content{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-content-ls{
  width: 50%;
}


h2{
  font-size: medium;
}

.news-type a{
  text-decoration: none;
  color: red;
}

.news-image-writer .contextual-region{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}


.news-image-writer h2{
  font-size: medium;
}

.news-image-writer img{
  border: 0;
  border-radius: 100px;
  max-width: 100px;
  max-height: 100px;
}

.news-image-writer a{
  text-decoration: none;
  color: #000;
}

#block-themetest_mario-page-title{
  display: none;
}